# KLIMATA ILOILO DATA EXTRACTION AND PREPROCESSING STAGE

### We also extract and process the Population data . This jupyter notebook contains code that preprocesses Population data.

### Importing essential libraries

In [1]:
import pandas as pd
import numpy as np

### Importing CSV file for Population

In [2]:
pop_df = pd.read_csv("worldpop_population.csv")

In [3]:
pop_df.head()

,uuid,adm4_pcode,date,freq,pop_count_total,pop_count_mean,pop_count_median,pop_count_stdev,pop_count_min,pop_count_max,pop_density_mean,pop_density_median,pop_density_stdev,pop_density_min,pop_density_max
0,WDPOP000000,PH137503007,2000-01-01,Y,3350.263672,558.377279,545.798828,48.654772,516.175537,661.617249,NaN,NaN,NaN,NaN,NaN
1,WDPOP000001,PH063022152,2000-01-01,Y,1492.030518,14.346447,14.088117,9.941083,1.157729,39.577888,1747.875977,1747.875977,0.0,1747.875977,1747.875977
2,WDPOP000002,PH063022015,2000-01-01,Y,688.092651,45.872843,46.660271,6.994909,30.479767,55.304688,NaN,NaN,NaN,NaN,NaN
3,WDPOP000003,PH063022118,2000-01-01,Y,1734.744507,133.441885,18.758980,247.449747,11.151038,968.687927,NaN,NaN,NaN,NaN,NaN
4,WDPOP000004,PH050506019,2000-01-01,Y,268.516998,29.835222,21.024340,20.024697,14.085201,67.157532,NaN,NaN,NaN,NaN,NaN

### Checking of Population dataframe rows and columns

In [6]:
pop_df.shape

(18459, 15)

### Checking columns' null value counts

In [11]:
pop_df.isnull().sum()

uuid                 0
adm4_pcode           0
date                 0
pop_count_total     21
pop_count_mean      21
pop_count_median    21
pop_count_stdev     21
pop_count_min       21
pop_count_max       21
dtype: int64

### Dropping irrelevant columns

In [8]:
pop_df = pop_df.drop(columns=['freq'])

### Cleans up all column names for consistency

In [10]:
pop_df.columns = pop_df.columns.str.strip().str.lower().str.replace(' ', '_')

### Replacing of missing values with the median of the column

In [13]:
num_cols = pop_df.select_dtypes(include=['float64', 'int64']).columns
pop_df[num_cols] = pop_df[num_cols].fillna(pop_df[num_cols].median())

### Converting column 'date' into proper datetime format

In [15]:
if 'date' in pop_df.columns:
    pop_df['date'] = pd.to_datetime(pop_df['date'], errors='coerce')

### Cleans up all text (categorical)  columns in the Population dataframe for consistency

In [16]:
cat_cols = pop_df.select_dtypes(include=['object']).columns
for col in cat_cols:
    pop_df[col] = pop_df[col].str.strip().str.lower()

In [17]:
pop_df.head()

,uuid,adm4_pcode,date,pop_count_total,pop_count_mean,pop_count_median,pop_count_stdev,pop_count_min,pop_count_max
0,wdpop000000,ph137503007,2000-01-01,3350.263672,558.377279,545.798828,48.654772,516.175537,661.617249
1,wdpop000001,ph063022152,2000-01-01,1492.030518,14.346447,14.088117,9.941083,1.157729,39.577888
2,wdpop000002,ph063022015,2000-01-01,688.092651,45.872843,46.660271,6.994909,30.479767,55.304688
3,wdpop000003,ph063022118,2000-01-01,1734.744507,133.441885,18.758980,247.449747,11.151038,968.687927
4,wdpop000004,ph050506019,2000-01-01,268.516998,29.835222,21.024340,20.024697,14.085201,67.157532

### Checking columns' null value counts

In [19]:
pop_df.isnull().sum()

uuid                0
adm4_pcode          0
date                0
pop_count_total     0
pop_count_mean      0
pop_count_median    0
pop_count_stdev     0
pop_count_min       0
pop_count_max       0
dtype: int64

### Importing of location dataframe as a csv file

In [20]:
location_df = pd.read_csv("LOCATION.csv")

### Merging Population and Location dataframe

In [21]:
POP_ILOILO = pd.merge(pop_df, location_df, on="adm4_pcode", how='inner')

In [23]:
POP_ILOILO.head()

,uuid,adm4_pcode,date,pop_count_total,pop_count_mean,pop_count_median,pop_count_stdev,pop_count_min,pop_count_max,unnamed:_0,adm1_en,adm1_pcode,adm2_en,adm2_pcode,adm3_en,adm3_pcode,adm4_en,brgy_total_area
0,wdpop000000,ph137503007,2000-01-01,3350.263672,558.377279,545.798828,48.654772,516.175537,661.617249,876,national capital region,ph130000000,"ncr, third district",ph137500000,city of navotas,ph137503000,navotas west,0.0581
1,wdpop000001,ph063022152,2000-01-01,1492.030518,14.346447,14.088117,9.941083,1.157729,39.577888,295,region vi,ph060000000,iloilo,ph063000000,iloilo city,ph063022000,hibao-an norte,0.8800
2,wdpop000002,ph063022015,2000-01-01,688.092651,45.872843,46.660271,6.994909,30.479767,55.304688,294,region vi,ph060000000,iloilo,ph063000000,iloilo city,ph063022000,bantud,0.1261
3,wdpop000003,ph063022118,2000-01-01,1734.744507,133.441885,18.758980,247.449747,11.151038,968.687927,293,region vi,ph060000000,iloilo,ph063000000,iloilo city,ph063022000,north baluarte,0.1259
4,wdpop000004,ph050506019,2000-01-01,268.516998,29.835222,21.024340,20.024697,14.085201,67.157532,292,region v,ph050000000,albay,ph050500000,legazpi city,ph050506000,bgy. 22 - binanuahan east (pob.),0.0763

In [24]:
POP_ILOILO = POP_ILOILO[POP_ILOILO['adm3_en'] == 'iloilo city']

### Drops irrelavant column

In [25]:
POP_ILOILO = POP_ILOILO.drop(columns=['unnamed:_0', 'adm1_en', 'adm1_pcode', 'adm2_en', 'adm2_pcode', 'adm3_en', 'adm3_pcode'])

In [26]:
POP_ILOILO.head()

,uuid,adm4_pcode,date,pop_count_total,pop_count_mean,pop_count_median,pop_count_stdev,pop_count_min,pop_count_max,adm4_en,brgy_total_area
1,wdpop000001,ph063022152,2000-01-01,1492.030518,14.346447,14.088117,9.941083,1.157729,39.577888,hibao-an norte,0.8800
2,wdpop000002,ph063022015,2000-01-01,688.092651,45.872843,46.660271,6.994909,30.479767,55.304688,bantud,0.1261
3,wdpop000003,ph063022118,2000-01-01,1734.744507,133.441885,18.758980,247.449747,11.151038,968.687927,north baluarte,0.1259
24,wdpop000018,ph063022040,2000-01-01,1891.350830,61.011317,60.119343,28.049733,17.409624,128.819382,cuartero,0.2656
25,wdpop000019,ph063022020,2000-01-01,2018.401123,288.343018,268.530884,124.519965,130.097717,472.024048,monica blumentritt,0.0626

### Importing of Population dataframe as a csv file

In [30]:
POP_ILOILO.to_csv("POPULATION.csv", index=False)