## KLIMATA ILOILO DATA PREPROCESSING (STANDARDIZATION STAGE)

### We also standardized the datasets to make sure all the indicators are on the same scale before combining or comparing them. We start with RWI_STANDARDIZED.

## Importing essential libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

### Importing CSV file for RWI STANDARDIZED data

In [2]:
RWI_DATA = pd.read_csv('RWI_FINAL.csv')

### Viewing RWI STANDARDIZED Dataframe's first 5 rows

In [3]:
RWI_DATA.head()

,uuid,adm4_pcode,date,rwi_max,rwi_mean,rwi_median,rwi_min,rwi_std,adm4_en,brgy_total_area
0,tmrwi000002,ph063022043,2016-01-01,0.623478,0.605305,0.611521,0.580916,0.021951,mabolo-delgado,0.0524
1,tmrwi000006,ph063022042,2016-01-01,0.561553,0.541626,0.538265,0.530066,0.012550,danao,0.1989
2,tmrwi000008,ph063022041,2016-01-01,0.687071,0.645999,0.648772,0.572029,0.034743,cubay,1.0505
3,tmrwi00000c,ph063022040,2016-01-01,0.593314,0.564654,0.564498,0.536304,0.028023,cuartero,0.2656
4,tmrwi00000e,ph063022038,2016-01-01,0.647317,0.621072,0.617565,0.601839,0.020932,concepcion-montes,0.2205

### Standardizing RWI STANDARDIZED columns

In [4]:
from sklearn.preprocessing import StandardScaler

cols_to_standardize = ['rwi_max', 'rwi_mean', 'rwi_median', 'rwi_min', 'rwi_std']

scaler = StandardScaler()

RWI_Sta = RWI_DATA.copy()
RWI_Sta[cols_to_standardize] = scaler.fit_transform(RWI_Sta[cols_to_standardize])

RWI_Sta.head()

,uuid,adm4_pcode,date,rwi_max,rwi_mean,rwi_median,rwi_min,rwi_std,adm4_en,brgy_total_area
0,tmrwi000002,ph063022043,2016-01-01,-0.752518,-0.593147,-0.482518,-0.443668,-0.435557,mabolo-delgado,0.0524
1,tmrwi000006,ph063022042,2016-01-01,-1.897069,-1.784427,-1.829337,-1.281248,-1.047442,danao,0.1989
2,tmrwi000008,ph063022041,2016-01-01,0.422886,0.168145,0.202362,-0.590055,0.397060,cubay,1.0505
3,tmrwi00000c,ph063022040,2016-01-01,-1.310030,-1.353632,-1.347036,-1.178499,-0.040366,cuartero,0.2656
4,tmrwi00000e,ph063022038,2016-01-01,-0.311894,-0.298192,-0.371389,-0.099049,-0.501858,concepcion-montes,0.2205

### Saves standardized RWI STANDARDIZED dataframe to csv.

In [5]:
RWI_Sta.to_csv("RWI_STANDARDIZED.csv", index=False)